:root {
	--font-sans: 'agrandir', sans-serif;
  --font-serif: 'recife text', serif;
	--font-headline: 'agrandir', sans-serif;

	--font-tightblack: 'agrandir tightblack', sans-serif;

	// color palette
	--color-black: #000;
	--color-white: #fff;

	--color-tubu: #5858E0;
	--color-sun: #F4BB47;
	--color-rose: #D9577D;
	--color-lime: #1CF44A;
	--color-peach: #F19696;

	--color-tubu-light: #C2C2FB;
	--color-sun-light: #ffe0a1;
	--color-rose-light: #F987C5;
	--color-lime-light: #92ffaa;
	--color-peach-light: #f8c0c0;

	--color-tubu-dark: #200AF2;
	--color-sun-dark: #ffaa00;
	--color-rose-dark: #8d0e54;
	--color-lime-dark: #157c2c;
	--color-peach-dark: #b66d60;

	--color-tubu-mellow: #A1A0C8;
	--color-sun-mellow: #000;
	--color-rose-mellow: #000;
	--color-lime-mellow: #6D8873;
	--color-peach-mellow: #C8B4B4;
}

// light default theme
body {
 	--color-background: var(--color-white);
 	--color-text: var(--color-black);
 	--color-link: var(--color-tubu);
	--color-hover: var(--color-tubu);
}

/*
// override variables for dark theme
body[data-theme="dark"] {
 	--color-background: var(--color-black);
 	--color-text: var(--color-white);
 	--color-link: var(--color-tubu);
	--color-hover: var(--color-tubu);
}*/