:root {
	--font-sans: 'good sans', sans-serif;
  --font-serif: 'recife text', serif;
	--font-headline: 'azo-sans-uber', sans-serif;

	// color palette
	--color-black: #000;
	--color-white: #fff;

	--color-tubu: #5858E0;
	--color-sun: #F4BB47;
	--color-rose: #D9577D;
	--color-lime: #1CF44A;
	--color-peach: #F19696;

	--color-tubu-light: #C2C2FB;
	--color-sun-light: #ffe0a1;
	--color-rose-light: #F987C5;
	--color-lime-light: #92ffaa;
	--color-peach-light: #f8c0c0;

	--color-tubu-strong: #200AF2;
	--color-sun-strong: #ffaa00;
	--color-rose-strong: #8d0e54;
	--color-lime-strong: #1a9c36;
	--color-peach-strong: #b66d60;
}

// light default theme
body {
 	--color-background: var(--color-white);
 	--color-text: var(--color-black);
 	--color-link: var(--color-tubu);
	--color-hover: var(--color-tubu);
}

/*
// override variables for dark theme
body[data-theme="dark"] {
 	--color-background: var(--color-black);
 	--color-text: var(--color-white);
 	--color-link: var(--color-tubu);
	--color-hover: var(--color-tubu);
}*/